{% extends 'base.html.twig' %}

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/feed.css') }}"/>
{% endblock %}

{% block body %}

    <header>
        <div class="header-text-container">
            Most Common Words
        </div>
        <div class="common-words-container">
            {% for key, value in mostCommonWords %}
                {{ key }} ({{ value }})
                {% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    </header>


    <section class="main-container">
        {% for feedItem in feed %}
            <div class="item-container">
                <div class="item-data">
                    <div class="item-element-title">
                        {{ feedItem.title }}
                    </div>
                    <div class="item-element">
                        {{ feedItem.summary }}
                    </div>
                    <div class="item-element-author">
                        by {{ feedItem.author }}
                    </div>
                    <div class="item-element">
                        <a href="{{ feedItem.link }}">read more...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

{% endblock %}