* {
    box-sizing: border-box;
}

header {
    margin: 20px auto;
    max-width: 1280px;
    width: 85%;
    height: 60px;
    border-bottom: 1px solid grey;
}

.header-text-container {
    width: 20%;
    float: left;
    line-height: 80px;
}

.common-words-container {
    width: 80%;
    float: left;
    height: 100%;
    text-align: end;
    line-height: 80px;
}

.main-container {
    margin: 0 auto;
    padding: 0px;
    width: 85%;
    max-width: 1280px;
    height: 80px;
}

.item-container {
    height: 150px;
}

.item-data {
    margin: 0 auto;
    width: 80%;
    height: 140px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.item-element-title {
    font-weight: bold;
    margin: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.item-element-author {
    margin: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: right;
}

.item-element {
    margin: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
}
