* {
    box-sizing: border-box;
}

header {
    margin: 20px auto;
    max-width: 1280px;
    width: 85%;
    height: 60px;
    border-bottom: 1px solid grey;
}

.header-text-container {
    width: 25%;
    float: left;
    line-height: 80px;
}

.btn {
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.main-container {
    margin: 0 auto;
    padding: 0px;
    width: 85%;
    max-width: 1280px;
    height: 80px;
}

.message {
    border-radius: 7px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    line-height: 30px;
}

.message-error {
    background-color: #ed6460;
}

.field-wrapper {
    clear:left;
    height: 55px;
    width: 100%;
}

select {
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 255px;
    max-width: 261px;
    background: #ffffff;
}

input {
    font-size: 20px;
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
}

label {
    margin: 10px;

    padding-top: 3px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    float: right;
}

.label-wrapper {
    float: left;
    width: 12%;
    height: 100%;
}

.input-wrapper {
    float: left;
    width: 88%;
    height: 100%;
}

