{% extends 'base.html.twig' %}

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% block head %}
    {{ parent() }}
    <script src="{{ asset('js/register.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/register.css') }}"/>
{% endblock %}


{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <header>
        <div class="header-text-container">
            Login
        </div>
    </header>

    <section class="main-container">
        <form action="{{ path('login') }}" method="post">
            <div class="field-wrapper">
                <div class="label-wrapper"><label for="username">Username:</label></div>
                <div class="input-wrapper"><input type="text" id="username" name="_username" value="{{ last_username }}"/></div>
            </div>
            <div class="field-wrapper">
                <div class="label-wrapper"><label for="password">Password:</label></div>
                <div class="input-wrapper"> <input type="password" id="password" name="_password"/></div>
            </div>

            <div class="field-wrapper">
                <div class="label-wrapper"><button class="btn" type="submit">login</button></div>
            </div>
        </form>
        <a href="/register">Register</a>
    </section>

{% endblock %}