{% extends 'base.html.twig' %}

{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% block head %}
    {{ parent() }}
    <script src="{{ asset('js/register.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/register.css') }}"/>
{% endblock %}

{% block body %}
    <header>
        <div class="header-text-container">
            Register
        </div>
    </header>

    <section class="main-container">
        {{ form_start(form) }}
            <div class="field-wrapper">
                {{ form_errors(form.email) }}
                <div class="label-wrapper"></div>
                <div class="input-wrapper"><div class="message" id="emailMessage"></div></div>
            </div>
            <div class="field-wrapper">
                {{ form_errors(form.email) }}
                <div class="label-wrapper">{{ form_label(form.email) }}</div>
                <div class="input-wrapper">{{ form_widget(form.email) }}</div>
            </div>
            <div class="field-wrapper">
                {{ form_errors(form.plainPassword.first) }}
                <div class="label-wrapper">{{ form_label(form.plainPassword.first) }}</div>
                <div class="input-wrapper">{{ form_widget(form.plainPassword.first) }}</div>
            </div>
            <div class="field-wrapper">
                {{ form_errors(form.plainPassword.second) }}
                <div class="label-wrapper">{{ form_label(form.plainPassword.second) }}</div>
                <div class="input-wrapper">{{ form_widget(form.plainPassword.second) }}</div>
            </div>
            <div class="field-wrapper">
                <button type="submit" class="btn" >Register!</button>
            </div>
        {{ form_end(form) }}

    </section>
{% endblock %}